body {
    background-color: #393D41;
}

button {
    cursor: pointer;
}

a {
    color: #B5D3CF;
}

::-webkit-scrollbar {
    width: 7.5px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #555;
}  
